# ルート = .gitignoreのあるディレクトリとする
 
# 特定のファイル名を無視する
# →対象範囲のファイルすべて無視される
###sample.txt
 
# 特定のファイルのみ無視する
# ルート直下のファイルを無視する場合
###/sample.txt
 
# 特定の拡張子を無視する
# →対象範囲の該当ファイルすべて無視される
###*.json
 
# 特定のディレクトリ名を無視する
# →対象範囲の該当ディレクトリすべて無視される
var/
etc/
htdocs/images/
htdocs/spool/
 
# ルートからのパスを指定して特定のディレクトリを無視する
###common/css/
 
# 特定のディレクトリ名直下にある特定の拡張子を無視する
###**/img/
 
# 指定したファイル/ディレクトリを無視しない
###!common/img/*.mp3
